<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">{{modalHeader}}</h3>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="section-block light-text">
	 {{modalContent}}
	</div>
	<div class="separator"></div>
	<div class="accent"><i><b>{{'general.services.created' | translate}}: </b>  {{created}}</i> </div>
    <div class="accent"><i><b>{{'general.services.url_link' | translate}}: </b>  {{serviceUri}}</i> </div>    
	
	<div class="separator"></div>
	<div class="section-block regular-text">
	<i><b>{{'general.services.data_consent' | translate}}: </b></i>
	
	
	</div>
	
	</div>
  
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" (click)="closeModal()">{{'general.services.close' | translate}}</button>
  </div>
</div>
