## Spring Security Configuration
server.contextPath=/account-manager
server.port=8080
logging.level.org=INFO
endpoints.cors.allowed-origins=${CDV_EXTERNAL_URL}

## CDV Module Configuration
SERVICEMANAGER_HOST=${CDV_EXTERNAL_URL}/service-manager
PDATAMANAGER_HOST=${CDV_EXTERNAL_URL}/pdata-manager
AUTHMANAGER_HOST=${CDV_EXTERNAL_URL}/auth-manager

MONGO_DB_HOST=${CDV_MONGO_HOST}:27017
MONGO_DB_NAME=${CDV_MONGO_DATABASE}
ACCOUNT_REPOSITORY_COLLECTION=${CDV_ACCOUNT_MANAGER_COLLECTION}
USER_MONGO=${CDV_MONGO_USERNAME}
PASSWORD_MONGO=${CDV_MONGO_PASSWORD}

JWT_SECRET_KEY=aiJkR8xWSH37EWae0kkuYK4GOxv0h4OVEI0JKFUMWcU75CQQwiQMkbjbJQ46Itd
## PROXY CONFIGURATION
http.proxyEnabled=false
http.proxyHost=
http.proxyPort=
http.proxyUser=
http.proxyPassword=
http.nonProxyHosts=localhost|*.eng.it


### SIMPATICO AAC INTEGRATION
AAC_URL=${AAC_URL}
