<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Consent Manager</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		classpath:applicationContext.xml
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>io.swagger.jaxrs.listing,it.eng.opsi</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
       <servlet-name>Jersey2Config</servlet-name>
       <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
       <init-param>
           <param-name>api.version</param-name>
           <param-value>1.2</param-value>
       </init-param>
       <init-param>
           <param-name>swagger.api.title</param-name>
           <param-value>Consent Manager APIs</param-value>
       </init-param>
       <init-param>
           <param-name>swagger.api.basepath</param-name>
           <param-value>/consent-manager/api/</param-value>
       </init-param>
       <load-on-startup>2</load-on-startup>
    </servlet>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>