<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">{{modalHeader}}</h3>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="section-block light-text">
	 {{modalContent}}
	</div>
	<div class="separator"></div>
	<div class="accent"><i><b>{{'general.services.keywords' | translate}}: </b>  {{keywords}}</i> </div>
         
	
	<div class="accent"><i><b>{{'general.services.provider' | translate}}: </b>  {{provider}}</i> </div>
          
	
	<div class="accent"><i><b>{{'general.services.purpose' | translate}}: </b> {{purpose}}</i> </div>
	
	<div class="accent"><i><b>{{'general.services.url_link' | translate}}: </b> <a href={{serviceUri}} target="_blank">{{serviceUri}}</a></i> </div>
          
	
	
	<div class="separator"></div>
	<div class="section-block regular-text">
	<div><b>{{'general.services.data_processed' | translate}}: </b></div>
	
	<div *ngFor="let concept of data; let i = index" [attr.data-index]="i">{{concept}}</div>
	
	</div>
	
	<div class="separator"></div>
	
	</div>
  
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" (click)="closeModal()">Close</button>
  </div>
</div>
